<div class="container">
  <div class="row about">
    <div class="col-md-1 col-xs-0"></div>
    <div class="extra-wrap extra-block-1 col-md-10 col-xs-12">
      <h2 style="text-align: center;">About me</h2>
      <h3 style="text-align: center;">Sam Kromstain – a Web Designer &amp; Web Developer from Los Angeles</h3>
      <p><img class="alignleft me-photo" alt="about-photo" src="../assets/me.jpg"></p>
      <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissimpulvin ar alorem. Vestibulum sed anonsectetur adipiscing elit.</p>
      <p>Cras eros nulla, porta ut est in, cursus egestas velit. Cras quis bibendum odio, in condimentum ante. Aliquam gravida mauris sed imperdiet porttitor. Vestibulum feugiat nulla id massa porta varius. Phasellus dui sem, volutpat quis dignissim vitae, auc tor quis nunc. Duis malesuada, elit necfaucibus feugiat, ligula arcu porta erat, quis molestie justo nulla</p>
      <a href="https://livedemo00.template-help.com/wordpress_49158/portfolio/portfolio-3/" class="btn ">view my works</a>
    </div>
    <div class="col-md-1 col-xs-0"></div>
  </div>
</div>
