<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="" [ngClass]="{'active': section.active}" *ngFor="let section of sections">
        <a href="#{{section.hashTag}}" (click)="changeSection(section)">{{section.name}}</a>
      </li>
    </ul>

    <ul class="nav navbar-nav social">
      <li> <a href="https://www.linkedin.com/in/leonardo-dantoni-93aba422/" target="_blank"><span class="fa fa-linkedin fa-3x"></span></a> </li>
      <li><a href="https://www.facebook.com/leonardo.dantoni" target="_blank"><span class="fa fa-facebook fa-3x"></span></a></li>
      <li><a href="https://twitter.com/lfdantoni" target="_blank"><span class="fa fa-twitter fa-3x"></span></a></li>
      <li><a href="https://github.com/lfdantoni" target="_blank"><span class="fa fa-github-alt fa-3x"></span></a></li>
    </ul>
  </div>
</nav>