<!--<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="" [ngClass]="{'active': section.active}" *ngFor="let section of sections">
        <a href="#{{section.hashTag}}" (click)="changeSection(section)">{{section.name}}</a>
      </li>
    </ul>

    <ul class="nav navbar-nav social">
      <li> <a href="https://www.linkedin.com/in/leonardo-dantoni-93aba422/" target="_blank"><span class="fa fa-linkedin fa-3x"></span></a> </li>
      <li><a href="https://www.facebook.com/leonardo.dantoni" target="_blank"><span class="fa fa-facebook fa-3x"></span></a></li>
      <li><a href="https://twitter.com/lfdantoni" target="_blank"><span class="fa fa-twitter fa-3x"></span></a></li>
      <li><a href="https://github.com/lfdantoni" target="_blank"><span class="fa fa-github-alt fa-3x"></span></a></li>
    </ul>
  </div>
</nav>-->


 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
  <div class="container">
   <div class="navbar-header">
    <!--<a class="navbar-toggle"  (click)="toggleMenu($event)"> 
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </a>-->
     <div id="nav-icon2" (click)="toggleMenu($event)">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a class="navbar-brand" href="#">LD</a>
   </div>
   <div id="slidemenu">
    <!--<form class="navbar-form navbar-right" role="form">
      <div class="form-group">
        <input type="search" placeholder="search" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>-->
     
    <ul class="nav navbar-nav">
      <li class="" [ngClass]="{'active': section.active}" *ngFor="let section of sections">
        <a href="#{{section.hashTag}}" (click)="changeSection(section)">{{section.name}}</a>
      </li>
     <!--<li class="active"><a href="#">Home</a></li>
     <li><a href="#about">About</a></li>
     <li><a href="#contact">Contact</a></li>
     <li class="dropdown" [class.open]="dropDownOpen">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="dropToggle($event)">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li class="dropdown-header">Nav header</li>
       <li><a href="#">Separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li class="dropdown-header">Nav header</li>
       <li><a href="#">Separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li class="dropdown-header">Nav header</li>
       <li><a href="#">Separated link test long title goes here</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
       <li><a href="#">One more separated link</a></li>
      </ul>
     </li>-->
    </ul>
    <ul class="nav navbar-nav social">
      <li> <a href="https://www.linkedin.com/in/leonardo-dantoni-93aba422/" target="_blank"><span class="fa fa-linkedin fa-3x"></span></a> </li>
      <li><a href="https://www.facebook.com/leonardo.dantoni" target="_blank"><span class="fa fa-facebook fa-3x"></span></a></li>
      <li><a href="https://twitter.com/lfdantoni" target="_blank"><span class="fa fa-twitter fa-3x"></span></a></li>
      <li><a href="https://github.com/lfdantoni" target="_blank"><span class="fa fa-github-alt fa-3x"></span></a></li>
    </ul>
          
   </div>
   <div id="navbar-height-col"></div>
  </div>
 </nav>